html {
  overflow: hidden;
  position: fixed;
  background-color: white;
  max-width: 937px;
  max-height: 667px;
}


body {
  position: fixed;
  margin: 0px;
  width: 710px;
  height: 530px;
  background-color: #e2d0b9;
  border: 0px;
  padding: 0px;
}

#header-view {
  padding: 0px 0px 15px;
  border-top: 1px dashed;
}

#header-view h1 {
  text-align: center;
  margin: 0px 0px 5px;
  font-size: 100%;
  font-weight: normal;

}

.monitor-container {
  border-radius: 75px;
  border: 25px solid black;
  position: relative;
  margin: 50px;
  padding: 10px 40px;
  background-color: black;
  color: lime;
  font-family: monospace;
  overflow: hidden;
  z-index: -2;
}

.monitor-container{
  width: calc(100% - 230px);
  height: calc(100% - 170px);
}

.cover-on, .cover-off {
  position: fixed;
  overflow: hidden;
  width: 480px;
  height: 380px;
}

.cover-on {
  background-color: lime;
  z-index: -1;
  opacity: 0.1;
  animation: power-on 3s;
}

.cover-off {
  background-color: black;
  z-index: 100;
  opacity: 1;
}

@keyframes power-on {
    from {opacity: 1;
    z-index: 100;}
    to {opacity: 0.1;
    z-index: -1;}
}

#output-view {
  overflow: hidden;
  height: inherit;
}

#output-view p {
margin: 0px;
border-bottom: 0px;
border-top: 1px;
border-left: 0px;
border-right: 0px;
border-style: dashed;
padding: 1em;
}

#select-view {
  padding: 10px 0px;
  border-top: 1px dashed;
}

#select-view p, h3, h4 {
  margin: 0px;
  color: yellow;
  display: inline;
}

#select-view p {
  padding: 1em;
  padding-right: 0.2em;
}

#system-view {
  color: crimson;
  font-weight: bold;
  margin: 3px 0px;
  text-align: center;
  font-size: large;
}

#system-view p {
  margin: 0px;
  display: inline;
}

.on {
  color: yellow;
}

.off {
  color: black;
}

.power-button-off, .power-button-on {
  position: fixed;
    top: 460px;
    left: 648px;
    font-size: 45px;
    border: 2px solid;
    padding: 0px 2px;
}

.power-button-off {
  background-color: #e2d0b9;
}

.power-button-on {
  background-color: #a29584
}
